<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.1
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        created() {
            console.log('Component  created.');

            //тут срабатывает, но

            let id = 10;

            window.Echo.private("survey."+id)
                .listen('MessagePushed', (data) => {
                    //console.log( 6666);
                    console.log('data', data);
                });



            setTimeout(function(){
                axios.post('/test', {id:id})
                    .then(res => {
                        console.log('data1',res);
                    }).catch(err => {
                    console.log(err)
                })
            },2000);


            console.log(window.Echo);



            //тут выдаёт ошибку E8_45eZ9lBsrVnMLAAAR could not be authenticated to presence-survey.1

            /*
            window.Echo.join('survey.1')
                .here((users) => {
                    console.log('users', users);
                })
                .joining((user) => {
                    console.log(
                        'user join', user);
                })
                .leaving((user) => {
                    console.log('user leave', user);
                });

            */

        }


    }
</script>
